.grid {
    display: grid;

    justify-content: start;
    align-items: start;

    user-select: none;
}

.grid .cell {
    box-sizing: border-box;
    background: #444;
    width: 32px;
    height: 32px;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.grid .cell.error {
    background-color: #472300;
}

.grid .cell.error.error-three {
    background-color: #5d0000;
}

.grid .cell.hint {
    background-color: #dfff06;
}

.grid .cell.hint-constraint {
    background-color: #4d2c00;
}

.grid .cell.initial {
    font-weight: bold;
}

.grid .cell.highlight {
    background-color: #555;
}
.grid .cell.border-l {
    border-left: 2px solid #000;
}

.grid .cell.border-t {
    border-top: 2px solid #000;
}

.grid .cell.border-r {
    border-right: 2px solid #000;
}

.grid .cell.border-b {
    border-bottom: 2px solid #000;
}
